
@media (max-width: 991.98px)
{
    .navbar-nav .nav-link
    {
        padding: .625rem 0;

        color: #172b4d !important;
    }
    .navbar-nav .dropdown-menu
    {
        min-width: auto; 

        box-shadow: none;
    }
    .navbar-nav .dropdown-menu .media svg
    {
        width: 30px;
    }
    .navbar-collapse
    {
        position: absolute;
        z-index: 1050;
        top: 0;
        right: 0;
        left: 0;

        overflow-y: auto;

        width: calc(100% - 1.4rem);
        height: auto !important;
        margin: .7rem;

        opacity: 0;
    }
    .navbar-collapse .navbar-toggler
    {
        position: relative;

        display: inline-block;

        width: 20px;
        height: 20px;
        padding: 0; 

        cursor: pointer;
    }
    .navbar-collapse .navbar-toggler span
    {
        position: absolute;

        display: block;

        width: 100%;
        height: 2px;

        opacity: 1;
        border-radius: 2px;
        background: #283448;
    }
    .navbar-collapse .navbar-toggler :nth-child(1)
    {
        transform: rotate(135deg);
    }
    .navbar-collapse .navbar-toggler :nth-child(2)
    {
        transform: rotate(-135deg);
    }
    .navbar-collapse .navbar-collapse-header
    {
        display: block;

        margin-bottom: 1rem;
        padding-bottom: 1rem;

        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    .navbar-collapse .collapse-brand img
    {
        height: 36px;
    }
    .navbar-collapse .collapse-close
    {
        text-align: right;
    }
    .navbar-collapse.collapsing,
    .navbar-collapse.show
    {
        padding: 1.5rem;

        animation: show-navbar-collapse .2s ease forwards; 

        border-radius: .25rem;
        background: #fff;
        box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    }
    .navbar-collapse.collapsing-out
    {
        animation: hide-navbar-collapse .2s ease forwards;
    }
}

@keyframes show-navbar-collapse
{
    0%
    {
        transform: scale(.95);
        transform-origin: 100% 0; 

        opacity: 0;
    }
    100%
    {
        transform: scale(1); 

        opacity: 1;
    }
}

@keyframes hide-navbar-collapse
{
    from
    {
        transform: scale(1);
        transform-origin: 100% 0; 

        opacity: 1;
    }
    to
    {
        transform: scale(.95); 

        opacity: 0;
    }
}

@keyframes show-navbar-dropdown
{
    0%
    {
        transition: visibility .25s, opacity .25s, transform .25s; 
        transform: translate(0, 10px) perspective(200px) rotateX(-2deg);

        opacity: 0;
    }
    100%
    {
        transform: translate(0, 0);

        opacity: 1;
    }
}

@keyframes hide-navbar-dropdown
{
    from
    {
        opacity: 1;
    }
    to
    {
        transform: translate(0, 10px); 

        opacity: 0;
    }
}





.navbar
{
    position: relative;

    display: flex;

    padding: 1rem 1rem; 

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar > .container,
.navbar > .container-fluid
{
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand
{
    font-size: 1.25rem;
    line-height: inherit;

    display: inline-block;

    margin-right: 1rem;
    padding-top: .0625rem;
    padding-bottom: .0625rem;

    white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus
{
    text-decoration: none;
}

.navbar-nav
{
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}
.navbar-nav .nav-link
{
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav .dropdown-menu
{
    position: static;

    float: none;
}

.navbar-text
{
    display: inline-block;

    padding-top: .25rem;
    padding-bottom: .25rem;
}

.navbar-collapse
{
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler
{
    font-size: 1.25rem;
    line-height: 1;

    padding: .25rem .75rem;

    border: .0625rem solid transparent;
    border-radius: .25rem; 
    background-color: transparent;
}
.navbar-toggler:hover,
.navbar-toggler:focus
{
    text-decoration: none;
}
.navbar-toggler:not(:disabled):not(.disabled)
{
    cursor: pointer;
}

.navbar-toggler-icon
{
    display: inline-block;

    width: 1.5em;
    height: 1.5em;

    content: '';
    vertical-align: middle;

    background: no-repeat center center;
    background-size: 100% 100%;
}

@media (max-width: 575.98px)
{
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid
    {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px)
{
    .navbar-expand-sm
    {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav
    {
        flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu
    {
        position: absolute;
    }
    .navbar-expand-sm .navbar-nav .nav-link
    {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid
    {
        flex-wrap: nowrap;
    }
    .navbar-expand-sm .navbar-collapse
    {
        display: flex !important;

        flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler
    {
        display: none;
    }
}

@media (max-width: 767.98px)
{
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid
    {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px)
{
    .navbar-expand-md
    {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav
    {
        flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu
    {
        position: absolute;
    }
    .navbar-expand-md .navbar-nav .nav-link
    {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid
    {
        flex-wrap: nowrap;
    }
    .navbar-expand-md .navbar-collapse
    {
        display: flex !important;

        flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler
    {
        display: none;
    }
}

@media (max-width: 991.98px)
{
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid
    {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px)
{
    .navbar-expand-lg
    {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav
    {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu
    {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link
    {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid
    {
        flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse
    {
        display: flex !important;

        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler
    {
        display: none;
    }
}

@media (max-width: 1199.98px)
{
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid
    {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 1200px)
{
    .navbar-expand-xl
    {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-xl .navbar-nav
    {
        flex-direction: row;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu
    {
        position: absolute;
    }
    .navbar-expand-xl .navbar-nav .nav-link
    {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid
    {
        flex-wrap: nowrap;
    }
    .navbar-expand-xl .navbar-collapse
    {
        display: flex !important;

        flex-basis: auto;
    }
    .navbar-expand-xl .navbar-toggler
    {
        display: none;
    }
}

.navbar-expand
{
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-expand > .container,
.navbar-expand > .container-fluid
{
    padding-right: 0;
    padding-left: 0;
}
.navbar-expand .navbar-nav
{
    flex-direction: row;
}
.navbar-expand .navbar-nav .dropdown-menu
{
    position: absolute;
}
.navbar-expand .navbar-nav .nav-link
{
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-expand > .container,
.navbar-expand > .container-fluid
{
    flex-wrap: nowrap;
}
.navbar-expand .navbar-collapse
{
    display: flex !important;

    flex-basis: auto;
}
.navbar-expand .navbar-toggler
{
    display: none;
}

.navbar-light .navbar-brand
{
    color: rgba(0, 0, 0, .9);
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus
{
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-nav .nav-link
{
    color: rgba(0, 0, 0, .5);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
    color: rgba(0, 0, 0, .7);
}
.navbar-light .navbar-nav .nav-link.disabled
{
    color: rgba(0, 0, 0, .3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active
{
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-toggler
{
    color: rgba(0, 0, 0, .5);
    border-color: transparent;
}

.navbar-light .navbar-toggler-icon
{
    background-image: url('data:image/svg+xml !default;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(0, 0, 0, 0.5)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E');
}

.navbar-light .navbar-text
{
    color: rgba(0, 0, 0, .5);
}
.navbar-light .navbar-text a
{
    color: rgba(0, 0, 0, .9);
}
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus
{
    color: rgba(0, 0, 0, .9);
}

.navbar-dark .navbar-brand
{
    color: rgba(255, 255, 255, .65);
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus
{
    color: rgba(255, 255, 255, .65);
}

.navbar-dark .navbar-nav .nav-link
{
    color: rgba(255, 255, 255, .95);
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus
{
    color: rgba(255, 255, 255, .65);
}
.navbar-dark .navbar-nav .nav-link.disabled
{
    color: rgba(255, 255, 255, .25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active
{
    color: rgba(255, 255, 255, .65);
}

.navbar-dark .navbar-toggler
{
    color: rgba(255, 255, 255, .95);
    border-color: transparent;
}

.navbar-dark .navbar-toggler-icon
{
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 0.95)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E');
}

.navbar-dark .navbar-text
{
    color: rgba(255, 255, 255, .95);
}
.navbar-dark .navbar-text a
{
    color: rgba(255, 255, 255, .65);
}
.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus
{
    color: rgba(255, 255, 255, .65);
}

.navbar-nav .nav-link
{
    font-family: Nunito, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    transition: all .15s linear; 
    letter-spacing: 1px;
    text-transform: normal;
}
@media screen and (prefers-reduced-motion: reduce)
{
    .navbar-nav .nav-link
    {
        transition: none;
    }
}
.navbar-nav .nav-link .nav-link-inner--text
{
    margin-left: .25rem;
}

.navbar-brand
{
    font-size: .875rem;
    font-size: .875rem;
    font-weight: 600;

    letter-spacing: .05px; 
    text-transform: uppercase;
}
.navbar-brand img
{
    height: 30px;
}

.navbar-dark .navbar-brand
{
    color: #fff;
}

.navbar-light .navbar-brand
{
    color: #32325d;
}

.navbar-nav .nav-item .media:not(:last-child)
{
    margin-bottom: 1.5rem;
}

@media (min-width: 992px)
{
    
}

.navbar-transparent
{
    position: absolute;
    z-index: 100;
    top: 0;

    width: 100%;

    border: 0;
    background-color: transparent;
    box-shadow: none;
}
.navbar-transparent .navbar-brand
{
    color: white;
}
.navbar-transparent .navbar-toggler
{
    color: white;
}
.navbar-transparent .navbar-toggler-icon
{
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 0.95)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E');
}

@media (min-width: 768px)
{
    .navbar-transparent .navbar-nav .nav-link
    {
        color: rgba(255, 255, 255, .95);
    }
    .navbar-transparent .navbar-nav .nav-link:hover,
    .navbar-transparent .navbar-nav .nav-link:focus
    {
        color: rgba(255,255,255,.7);
        transition: all .9 ease;
    }
    .navbar-transparent .navbar-nav .nav-link.disabled
    {
        color: rgba(255, 255, 255, .25);
    }
    .navbar-transparent .navbar-nav .show > .nav-link,
    .navbar-transparent .navbar-nav .active > .nav-link,
    .navbar-transparent .navbar-nav .nav-link.show,
    .navbar-transparent .navbar-nav .nav-link.active
    {
        color: rgba(255, 255, 255, .65);
    }
    .navbar-transparent .navbar-brand
    {
        color: rgba(255, 255, 255, .95);
    }
    .navbar-transparent .navbar-brand:hover,
    .navbar-transparent .navbar-brand:focus
    {
        color: rgba(255, 255, 255, .95);
    }
}


.section
{
    position: relative;

    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section-xl
{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.section-lg
{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.section-sm
{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 768px)
{
    .section-hero
    {
        min-height: 500px;
        background: rgba(0, 0, 0, 0.7);

    }
}
